page-loancalc {
	.toolbar-background {
  		background-color:#4286f4;

	}
	#navbartext > div {
		color:#ffffff;
	}
	.mainframe{
		margin:60px 12px 0px 12px;
	}
	ion-row.active {
  		background-color: #f5f5f5;
	}

	ion-row.success {
  		background-color: #dff0d8;
	}

	ion-row.warning {
	  background-color: #fcf8e3;
	}

	ion-row.error {
	  background-color: #f2dede;
	}

}
